
@{
    ViewData["Title"] = "AboutBot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutBot</h1>

<div class="col-sm-12">
    <div class="form-group row col-sm-10">
        <p class="text-justify">
            Agile-Bot, an 8a JV (joint venture) between BuddoBot Inc. and Agile-Defense LLC, provides Information Technology and Information Security services to Federal, State, and Department of Defense agencies. The strategic alliance between these two companies captures the essence of small business while providing the resource power and expertise of a larger entity. Together as Agile-Bot we provide high quality solutions within a competitive rate structure.
        </p>
    </div>
</div>