@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="carbon-block">
        <br />
        <br />
        <h2 class="text-center font-weight-bold">
            Welcome to Agile Bot Assignment Portal
        </h2>
        <br />
        <br />
        <div class="text-center">
            <img class="rounded" src="~/images/Bot.png" alt="Agile Bot">
        </div>

    </div>
</div>
